/***** BASE STYLES *****/
body {
	color: #A9A9A9;
	font-family: 'Noto Serif', serif;		
}

/***** GRID *****/
.full-width {	
	margin: 0 auto;
	width: 1200px;
}

.two-third-width {
	width: 800px;
	float: left;
}

.half-width {
	width: 600px;
	float: left;
}


.third-width {
    width: 400px;
    float: left;
}


/***** HEADER *****/

#header {
	height: 947px;
	background: url(../img/blackbanner.png);
	background-size: cover;
}

#header h1 {
	float: left;
	font-family: 'Noto Serif', serif;
	font-size: 60px;
	color: #808080;
	padding: 80px 40px 0px 20px;
}

#header h1 span {
	color: #282828;
}

nav {
	float: right;
	padding: 80px 20px;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	font-family: 'Noto Serif', serif;
	font-size: 25px;
	color: #808080;
	padding-left: 65px;
	text-transform: uppercase;
}

/***** ABOUT *****/

#about {	
	background: url(../img/banner.jpg);
	background-size: cover;
	height: 300px;
}

#about header h1 {
	float: left;
	font-family: 'Noto Serif', serif;
	font-size: 25px;
	color: #99d6ff;
	padding: 40px 0px 0px 10px;
	text-align: center;
}

#about nav {
	float: right;
	padding: 40px 20px;
}

#about nav ul li {
	display: inline-block;
}

#about nav ul li a {
	font-size: 25px;
	color: #99d6ff;
	padding-left: 65px;
}

/***** HTML ABOUT *****/

#html {
	background-color: #001db6;
	height: 350px;
}

#html h2 {
	font-family: font-family: 'Muli', sans-serif;
	font-size: 30px;
	color: #99d6ff;
}

#html p {
	font-family: font-family: 'Muli', sans-serif;
	font-size: 20px;
	color: #99d6ff;
}


#html img {
	padding-top: 90px;
}

#html .two-third-width {	
	float: right;
	padding-top: 70px;
}

/***** CSS ABOUT*****/

#css {
	background-color: #0026e6;
	height: 350px;
}

#css h2 {
	font-family: font-family: 'Muli', sans-serif;
	font-size: 30px;
	color: #99d6ff;
}

#css p {
	font-family: font-family: 'Muli', sans-serif;
	font-size: 20px;
	color: #99d6ff;
}


#css img {
	padding-top: 100px;
}

#css .two-third-width {	
	float: right;
	padding-top: 70px;
}

/***** PSD ABOOUT *****/

#psd {
	background-color: #1a40ff;
	height: 350px;
}

#psd h2 {
	font-family: font-family: 'Muli', sans-serif;
	font-size: 30px;
	color: #99d6ff;
}

#psd p {
	font-family: font-family: 'Muli', sans-serif;
	font-size: 20px;
	color: #99d6ff;
}


#psd img {
	padding-top: 90px;
}

#psd .two-third-width {	
	float: right;
	padding-top: 70px;
}